services:
  ## MySQL Docker Compose Config
  mysql-order:
    container_name: mysql-order
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: truongnguyen
      MYSQL_DATABASE: order-service
    ports:
      - "3307:3306"
    volumes:
      - ./mysql-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD-SHELL", 'mysql -h localhost -u root -p$$MYSQL_ROOT_PASSWORD -e "USE `$$MYSQL_DATABASE`"' ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 180s

  mysql-product:
    container_name: mysql-product
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: truongnguyen
      MYSQL_DATABASE: product-service
    ports:
      - "3308:3306"
    volumes:
      - ./mysql-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD-SHELL", 'mysql -h localhost -u root -p$$MYSQL_ROOT_PASSWORD -e "USE `$$MYSQL_DATABASE`"' ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 180s

  mysql-inventory:
    container_name: mysql-inventory
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: truongnguyen
      MYSQL_DATABASE: inventory-service
    ports:
      - "3309:3306"
    volumes:
      - ./mysql-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD-SHELL", 'mysql -h localhost -u root -p$$MYSQL_ROOT_PASSWORD -e "USE `$$MYSQL_DATABASE`"' ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 180s

  ## Keycloak Config with Mysql database
  keycloak-mysql:
    container_name: keycloak-mysql
    image: mysql:8
    volumes:
      - ./mysql_keycloak_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: keycloak
      MYSQL_USER: keycloak
      MYSQL_PASSWORD: password

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:18.0.0
    command: [ "start-dev", "--import-realm" ]
    environment:
      DB_VENDOR: MYSQL
      DB_ADDR: keycloak-mysql
      DB_DATABASE: keycloak
      DB_USER: keycloak
      DB_PASSWORD: password
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    volumes:
      - ./realms/:/opt/keycloak/data/import/
    depends_on:
      - keycloak-mysql

  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  broker:
    image: confluentinc/cp-kafka:7.0.1
    container_name: broker
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://broker:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

  # Zipkin
  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    environment:
      - SERVER_PORT=9411
      - SERVER_ADDRESS=0.0.0.0
    ports:
      - "9411:9411"

  ## Eureka Server
  discovery-server:
    image: truongnguyen3006/discovery-server:latest
    container_name: discovery-server
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - management.zipkin.tracing.endpoint=http://zipkin:9411/api/v2/spans
    depends_on:
      - zipkin

  api-gateway:
    image: truongnguyen3006/api-gateway:latest
    container_name: api-gateway
    ports:
      - "8181:8080"
    expose:
      - "8181"
    environment:
      #cho phép chọn profile cấu hình phù hợp. docker (application-docker.yml hoặc .properties)
      - SPRING_PROFILES_ACTIVE=docker
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY= TRACE
      - eureka.client.serviceUrl.defaultZone=http://eureka:password@discovery-server:8761/eureka
    depends_on:
      - zipkin
      - discovery-server
      - keycloak

  ## Product-Service Docker Compose Config
  product-service:
    container_name: product-service
    image: truongnguyen3006/product-service:latest
    ports:
      - "8083:8083"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-product:3306/product-service
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: truongnguyen
      SPRING_JPA_DATABASE-PLATFORM: org.hibernate.dialect.MySQL8Dialect
      SPRING_PROFILES_ACTIVE: docker
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka:password@discovery-server:8761/eureka
    depends_on:
      mysql-product:
        condition: service_healthy # <-- Sửa ở đây
      discovery-server:
        condition: service_started
      api-gateway:
        condition: service_started

  ## Order-Service Docker Compose Config
  order-service:
    container_name: order-service
    image: truongnguyen3006/order-service:latest
    environment:
      SPRING_PROFILES_ACTIVE: docker
      # Ghi đè trực tiếp URL của database
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-order:3306/order-service
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: truongnguyen
      # Ghi đè Dialect để sửa lỗi "Unable to determine Dialect"
      SPRING_JPA_DATABASE-PLATFORM: org.hibernate.dialect.MySQL8Dialect
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka:password@discovery-server:8761/eureka
    depends_on:
      mysql-order:
        condition: service_healthy # <-- Sửa ở đây
      broker:
        condition: service_started
      zipkin:
        condition: service_started
      discovery-server:
        condition: service_started
      api-gateway:
        condition: service_started

  ## Inventory-Service Docker Compose Config
  inventory-service:
    container_name: inventory-service
    image: truongnguyen3006/inventory-service:latest
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-inventory:3306/inventory-service
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: truongnguyen
      SPRING_JPA_DATABASE-PLATFORM: org.hibernate.dialect.MySQL8Dialect
      SPRING_PROFILES_ACTIVE: docker
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka:password@discovery-server:8761/eureka
    depends_on:
      mysql-inventory:
        condition: service_healthy # <-- Sửa ở đây
      discovery-server:
          condition: service_started
      api-gateway:
          condition: service_started

  ## Notification-Service Docker Compose Config
  notification-service:
    container_name: notification-service
    image: truongnguyen3006/notification-service:latest
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - eureka.client.serviceUrl.defaultZone=http://eureka:password@discovery-server:8761/eureka
    depends_on:
      - zipkin
      - broker
      - discovery-server
      - api-gateway

  ## Prometheus
  prometheus:
    image: prom/prometheus:v2.37.1
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana-oss:8.5.2
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    links:
      - prometheus:prometheus
    volumes:
      - ./grafana:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=password


